.container-fluid {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

form {
    margin-bottom: 20px;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

